<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="personBean" class="springsample.Person">
		<constructor-arg name="personAge" type="int" value="23"></constructor-arg>
		<constructor-arg name="personName" type="String"
			value="Patel">
		</constructor-arg>
		
		
	</bean>
</beans>
